@import 'o-message/main';

@include oMessage($opts: (
	'types': ('alert'),
	'states': ('error', 'success'),
	'layouts': ('inner')
));

.consent-message--hidden {
	display: none;
}

.consent-message__content-block {
	display: block;
}
