@include oBanner($class: 'consent-banner', $themes: false);

.consent-banner {
	height: 0;
	z-index: 1;
}

.consent-banner__outer {
	transition: transform 0.2s ease-in-out;
	will-change: transform;
	&.active {
		transform: translateY(-100%);
	}
}
