@import 'n-ui-foundations/util/main';

.overlay-scroll-block {
	height: 100%;
	overflow: hidden;
}

.o-overlay-shadow {
	background-color: rgba(0,0,0,0.8);
	@include nUiZIndexFor('overlay');
}

.o-overlay {
	@include nUiZIndexFor('overlay');
}

.o-overlay__content {
	padding: 0;
}

.o-overlay__close {
	border: 0 none;
}

.consent-form-content {
	position: relative;
}

.consent-form-content__inner {
	padding: 45px;
}

.o-overlay__close {
	background-position: right 50%;
	width: auto;
	padding: 0.25em 30px 0.25em 0.25em;
	font-size: 13px;
	position: absolute;
	right: 0;
}
