<div class="consent-banner" data-consent-component="consent-banner">
	<div class="consent-banner__outer">
		<div class="consent-banner__inner" data-consent-banner-inner="">
			<div class="consent-banner__content">
				<p><strong>Don’t lose touch with the FT.</strong> Check your contact preferences.</p>
			</div>
			<div class="consent-banner__actions">
				<div class="consent-banner__action">
					<button type="button" class="consent-banner__button">Check your preferences</button>
				</div>
			</div>
		</div>
	</div>
</div>
