<h2 class="consent-form__heading-level-3 margin-bottom-x3">Thank you<br/>We've updated your preferences</h2>
<div class="consent-form__consent-info margin-top-x8" data-trackable="customer-message">
	We'll still send you service messages about your account, security or legal notifications.
</div>
<div class="consent-form__confirm-opt-in">
	You can opt-in to other emails from the FT or change what you receive by visiting the <a class="link-external" href="#">Preferences centre</a>
</div>

<div class="consent-form__submit-wrapper">
	<a href="{{redirect}}" class="consent-form__close">Continue to FT.com</a>
</div>
