{{#if showHeading}}
{{#if isSubsection}}
<h2 class="consent-form__heading-level-1">
{{else}}
<h1 class="consent-form__heading-level-1">
	{{/if}}
	{{formOfWords.copy.heading1}}
	{{#if formOfWords.copy.straplineHeading}}
	<span class="consent-form__heading-strapline">{{formOfWords.copy.straplineHeading}}</span>
	{{/if}}
{{#if isSubsection}}</h2>{{else}}
</h1>{{/if}}
<div class="consent-form__intro-text">
	{{#if formOfWords.copy.straplineSmall}}
	{{formOfWords.copy.straplineSmall}}
	{{/if}}
</div>
{{/if}}

{{#with formOfWords.error}}
<div class="consent-msg consent-msg--error margin-bottom-x5">
	{{>n-profile-ui/templates/components/error-message-core error=formOfWords.error}}
</div>
{{/with}}

{{>n-profile-ui/templates/components/fow-hidden-inputs }}
<div name="consent" class="consent-form">
	<div class="consent-form__section-wrapper">
		{{#each formOfWords.consents}}
		<div class="consent-form__section">
			{{#if ../isSubsection}}
			<h3 class="consent-form__heading-level-3">
				{{heading}}
			</h3>
			{{else}}
			<h2 class="consent-form__heading-level-3">
				{{heading}}
			</h2>
			{{/if}}
			<div class="consent-form__section-label consent-form__limit-width">
				{{label}}
			</div>
			<div class="consent-form__switches-group">
				{{#each channels}}
				{{>n-profile-ui/templates/components/yes-no-switch category=../category}}
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
	{{#if formOfWords.copy.serviceMessagesInfo}}
	<div class="consent-form__consent-info margin-top-x8">
		{{{formOfWords.copy.serviceMessagesInfo}}}
	</div>
	{{/if}}
	{{#if showSubmitButton}}
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit">
			{{#if formOfWords.copy.submitButton}}
			{{{formOfWords.copy.submitButton}}}
			{{else}}
			Confirm
			{{/if}}
		</button>
	</div>
	{{/if}}
</div>
