{{#if showHeading}}
<h1 class="consent-form__heading-level-1">
	{{formOfWords.copy.heading1}}
	{{#if formOfWords.copy.straplineHeading}}
		<span class="consent-form__heading-strapline">{{formOfWords.copy.straplineHeading}}</span>
	{{/if}}
</h1>
<div class="consent-form__intro-text">
	{{#if formOfWords.copy.straplineSmall}}
		{{formOfWords.copy.straplineSmall}}
	{{/if}}
	<a class="consent-form-link-external" href="https://help.ft.com/help/legal-privacy/privacy/" target="_blank">{{formOfWords.copy.dataUseLink}}</a>
</div>
{{/if}}
<input type="hidden" name="formOfWordsId" value="{{formOfWords.id}}" />
<input type="hidden" name="formOfWordsScope" value="{{formOfWords.scope}}" />
<input type="hidden" name="consentSource" value="{{formOfWords.source}}" />
<fieldset name="consent" class="consent-form">
	<legend class="o-normalise-visually-hidden">Marketing consent</legend>
	{{#each formOfWords.consents}}
	<div class="consent-form__section">
		{{#if isSubsection}}
		<h3 class="consent-form__heading-level-2 consent-form__no-margin-bottom">
			{{heading}}
		</h3>
		{{else}}
		<h2 class="consent-form__heading-level-2 consent-form__no-margin-bottom">
			{{heading}}
		</h2>
		{{/if}}
		<div class="consent-form__section-label">
			{{label}}
		</div>
		<div class="consent-form__switches-group">
			{{#each channels}}
			{{>n-profile-ui/templates/yes-no-switch category=../category}}
			{{/each}}
		</div>
	</div>
	{{/each}}
	{{#if formOfWords.copy.serviceMessagesInfo}}
	<div class="consent-form__consent-info">
		{{formOfWords.copy.serviceMessagesInfo}}
	</div>
	{{/if}}
	{{#if showSubmitButton}}
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit">
			{{#if formOfWords.copy.submitButton}}
				{{{formOfWords.copy.submitButton}}}
			{{else}}
				Confirm
			{{/if}}
		</button>
	</div>
	{{/if}}
</fieldset>
