<fieldset name="marketing-consent" class="consent-form__fieldset consent-form">
	<legend class="o-normalise-visually-hidden">Marketing consent</legend>
	<h2 class="consent-form__heading-level-2">Keep up to date with the FT</h2>
	<div class="consent-form__intro-text">
		Choose how you want us to contact you. Update these any time in your preferences.
		<a class="consent-form-link-external" href="https://help.ft.com/help/legal-privacy/privacy/" target="_blank">How we use
			your data</a>
	</div>
	<div data-o-component="o-expander" data-o-expander-shrink-to="hidden" class="o-expander" data-o-expander-expanded-toggle-text="Tell me more" data-o-expander-collapsed-toggle-text="Tell me more">
		<div class="consent-form__heading-3-group">
			<h3 class="consent-form__heading-level-3 consent-form__no-margin-bottom">Top stories & features</h3>
			<button type="button" class="consent-form__expander-toggle o-expander__toggle o--if-js"
					data-trackable="stories-expander"></button>
		</div>
		<div class="o-expander__content consent-form__expander-content" aria-hidden="true">
			Get the most from The Financial Times with:
			<ul class="consent-form__bullets">
				<li>Special reports and exclusive articles</li>
				<li>Handpicked stories and recommended reads</li>
				<li>Essential FT announcements</li>
				<li>The latest website features and app updates</li>
			</ul>
		</div>
	</div>
	<div class="consent-form__switches-group">
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-stories-email" label="By email"}}
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-stories-phone-call" label="By phone call"}}
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-stories-post" label="By post"}}
	</div>
	<div data-o-component="o-expander" data-o-expander-shrink-to="hidden" class="o-expander" data-o-expander-expanded-toggle-text="Tell me more" data-o-expander-collapsed-toggle-text="Tell me more">
		<div class="consent-form__heading-3-group">
			<h3 class="consent-form__heading-level-3">Invites & offers from the FT</h3>
			<button type="button" class="consent-form__expander-toggle o-expander__toggle o--if-js"
					data-trackable="offers-expander"></button>
		</div>
		<div class="o-expander__content consent-form__expander-content" aria-hidden="true">
			Receive exclusive event invitations, carefully-curated offers and promotions from The Financial Times:
			<ul class="consent-form__bullets">
				<li>Invitations to subscriber-only events</li>
				<li>Discounts on FT subscriptions</li>
				<li>Bespoke offers and promotions from the FT</li>
				<li>Receive exclusive event invitations, carefully-curated offers and promotions from The Financial
					Times.
				</li>
			</ul>
		</div>
	</div>
	<div class="consent-form__switches-group">
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-offers-email" label="By email"}}
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-offers-phone-call" label="By phone call"}}
		{{>n-marketing-consent/templates/yes-no-switch id="reconsent-offers-post" label="By post"}}
	</div>
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit" disabled>Confirm</button>
	</div>
</fieldset>
