<fieldset name="marketing-consent" class="consent-form">
	<input type="hidden" name="formOfWordsVersion" value="{{formOfWords.id}}" />
	<legend class="o-normalise-visually-hidden">Marketing consent</legend>
	<h1 class="consent-form__heading-level-1">{{formOfWords.copy.heading1}}</h1>
	<div class="consent-form__intro-text">
		<a class="consent-form-link-external" href="https://help.ft.com/help/legal-privacy/privacy/" target="_blank">{{formOfWords.copy.dataUseLink}}</a>
	</div>
	{{#each formOfWords.consents}}
	<div class="consent-form__section">
		<h3 class="consent-form__heading-level-2 consent-form__no-margin-bottom">{{heading}}</h3>
		<div class="consent-form__section-label">
			{{label}}
		</div>
		<div class="consent-form__switches-group">
			{{#each channels}}
			{{>n-marketing-consent/templates/yes-no-switch category=../category label=label channel=channel checked=lbi }}
			{{/each}}
		</div>
	</div>
	{{/each}}
	{{#if showSubmitButton}}
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit">Confirm</button>
	</div>
	{{/if}}
</fieldset>
