<h1 class="consent-form__heading-level-1">
	{{formOfWords.copy.heading1}}
</h1>
{{#if changesSaved}}
<div class="margin-top-x4 margin-bottom-x5">
	{{>n-profile-ui/templates/components/changes-saved-message}}
</div>
{{/if}}

{{#with formOfWords.error}}
<div class="consent-msg consent-msg--error margin-top-x4 margin-bottom-x5">
	{{>n-profile-ui/templates/components/error-message-core error=formOfWords.error}}
</div>
{{/with}}
<div class="consent-form__intro-text">
	{{{formOfWords.copy.straplineSmall}}}
</div>
<input type="hidden" name="formOfWordsId" value="{{formOfWords.id}}" />
<input type="hidden" name="formOfWordsScope" value="{{formOfWords.scope}}" />
<input type="hidden" name="consentSource" value="{{formOfWords.source}}" />
<div name="consent" class="consent-form">
	{{#each formOfWords.consents}}
	<div class="consent-form__section">
		{{> n-profile-ui/templates/subheading
			text=label
			hideLink=../noOutboundLinks
			linkText='Learn more'
			linkUrl='https://help.ft.com/help/legal-privacy/privacy' }}
		<div>
			{{#each channels}}
			{{>n-profile-ui/templates/yes-no-switch category=../category}}
			{{/each}}
		</div>
	</div>
	{{/each}}
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit">
			{{#if formOfWords.copy.submitButton}}
			{{{formOfWords.copy.submitButton}}}
			{{else}}
			Confirm
			{{/if}}
		</button>
	</div>
</div>
