{{#if formOfWords.copy.heading1}}
<h1 class="consent-form__heading-level-1">
	{{formOfWords.copy.heading1}}
</h1>
{{/if}}
{{#if changesSaved}}
<div class="margin-top-x4 margin-bottom-x5">
	{{>n-profile-ui/templates/components/changes-saved-message}}
</div>
{{/if}}

{{#with formOfWords.error}}
<div class="consent-msg consent-msg--error margin-top-x4 margin-bottom-x5">
	{{>n-profile-ui/templates/components/error-message-core error=formOfWords.error}}
</div>
{{/with}}
{{#if formOfWords.copy.straplineSmall}}
<div class="consent-form__intro-text">
	{{{formOfWords.copy.straplineSmall}}}
</div>
{{/if}}
{{>n-profile-ui/templates/components/fow-hidden-inputs }}
<div name="consent" class="consent-form">
	{{#each formOfWords.consents}}
	<div class="consent-form__section">
		{{> n-profile-ui/templates/subheading
			text=label
			linkText=linkText
			linkUrl=linkUrl }}
		<div>
			{{#each channels}}
			{{>n-profile-ui/templates/components/yes-no-switch category=../category}}
			{{/each}}
		</div>
	</div>
	{{/each}}
	<div class="consent-form__submit-wrapper">
		<button type="submit" class="consent-form__submit">
			{{#if formOfWords.copy.submitButton}}
			{{{formOfWords.copy.submitButton}}}
			{{else}}
			Confirm
			{{/if}}
		</button>
	</div>
</div>
