<fieldset class="consent-form consent-form--inline">
	<div class="consent-form__inline-wrapper">
		<div>
			<legend class="consent-form__label{{#if boldLabel}} consent-form__label-bold{{/if}}" id="legend-{{{category}}}-{{{channel}}}">{{label}}</legend>
		</div>
		{{#if description}}
		<div class="consent-form__item-description">
			{{description}}
		</div>
		{{/if}}
		<div>
			<div class="consent-form__group consent-form__group--inline-together">
				<input type="radio" name="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}" value="yes" class="consent-form__radio-button{{#if inputClass}} {{inputClass}}{{/if}}" id="{{{category}}}-{{{channel}}}-yes" aria-describedby="legend-{{{category}}}-{{{channel}}}" data-trackable="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}-yes"{{#if checkedYes}} checked{{/if}}{{#each elementAttrs}} {{{name}}}{{#if value}}="{{{value}}}"{{/if}}{{/each}} />
				<label for="{{{category}}}-{{{channel}}}-yes" class="consent-form__label">Yes</label>
				<input type="radio" name="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}" value="no" class="consent-form__radio-button consent-form__radio-button--negative" id="{{{category}}}-{{{channel}}}-no" aria-describedby="legend-{{{category}}}-{{{channel}}}" data-trackable="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}-no"{{#if checkedNo}} checked{{/if}}{{#each elementAttrs}} {{{name}}}{{#if value}}="{{{value}}}"{{/if}}{{/each}} />
				<label for="{{{category}}}-{{{channel}}}-no" class="consent-form__label">No</label>
			</div>
		</div>
	</div>
	{{#if advisory}}
	<div class="consent-form__item-advisory">
		{{advisory}}
	</div>
	{{/if}}
</fieldset>
