<fieldset class="consent-form consent-form--inline">
	<div class="consent-form__inline-wrapper">
		<div class="consent-form__inline-item">
			<legend class="consent-form__label" id="legend-{{id}}">{{label}}</legend>
		</div>
		<div class="consent-form__inline-item">
			<div class="consent-form__group consent-form__group--inline-together"{{#if elementAttrs}} {{{elementAttrs}}}{{/if}}>
				<input type="radio" name="{{id}}" value="yes" class="consent-form__radio-button{{#if inputClass}} {{inputClass}}{{/if}}" id="{{id}}-yes" aria-describedby="legend-{{id}}" data-trackable="{{id}}-yes"{{#if checked}} checked{{/if}}{{#if required}} required{{/if}} />
				<label for="{{id}}-yes" class="consent-form__label">Yes</label>
				<input type="radio" name="{{id}}" value="no" class="consent-form__radio-button consent-form__radio-button--negative" id="{{id}}-no" aria-describedby="legend-{{id}}" data-trackable="{{id}}-no" />
				<label for="{{id}}-no" class="consent-form__label">No</label>
			</div>
		</div>
	</div>
</fieldset>
