<fieldset class="consent-form consent-form--inline-controls">
	<legend class="o-normalise-visually-hidden">{{label}}</legend>
	<div class="consent-form__inline-container">
		<div class="consent-form__inline-item consent-form__inline-item--long">
			<div class="consent-form__label" id="legend-{{{category}}}-{{{channel}}}" aria-hidden="true">{{label}}</div>
			{{#if advisory}}
			<div class="consent-form__item-advisory">
				{{{advisory}}}
			</div>
			{{/if}}
		</div>
		<div class="consent-form__group consent-form__group--inline-together">
			<input type="radio" name="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}" value="yes" class="consent-form__radio-button{{#if inputClass}} {{inputClass}}{{/if}}" id="{{{category}}}-{{{channel}}}-yes" aria-describedby="legend-{{{category}}}-{{{channel}}}" data-trackable="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}-yes"{{#if checkedYes}} checked{{/if}}{{#each elementAttrs}} {{{name}}}{{#if value}}="{{{value}}}"{{/if}}{{/each}} />
			<label for="{{{category}}}-{{{channel}}}-yes" class="consent-form__label">
				{{#if toggleOnLabel}}
					{{toggleOnLabel}}
				{{else}}
					Yes
				{{/if}}
			</label>
			<input type="radio" name="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}" value="no" class="consent-form__radio-button consent-form__radio-button--negative" id="{{{category}}}-{{{channel}}}-no" aria-describedby="legend-{{{category}}}-{{{channel}}}" data-trackable="{{#if lbi}}lbi{{else}}consent{{/if}}-{{{category}}}-{{{channel}}}-no"{{#if checkedNo}} checked{{/if}}{{#each elementAttrs}} {{{name}}}{{#if value}}="{{{value}}}"{{/if}}{{/each}} />
			<label for="{{{category}}}-{{{channel}}}-no" class="consent-form__label">
				{{#if toggleOffLabel}}
					{{toggleOffLabel}}
				{{else}}
					No
				{{/if}}
			</label>
		</div>
		<div class="consent-form__status" aria-hidden="false" aria-live="polite"></div>
		<div class="consent-form__errortext">There was a problem saving, please try later.</div>
	</div>
</fieldset>
