.consent-form__submit,
.consent-form__close {
	@include oButtons($size: big, $theme: primary);
	display: block;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.consent-form__submit {
	margin-top: oTypographySpacingSize(8);
}
