.consent-form__submit-wrapper {
	margin-top: oTypographySpacingSize(10);
}

.consent-form__submit,
.consent-form__close {
	@include oButtons();
	@include oButtonsSize(big);
	@include oButtonsTheme(primary);
	display: block;
	width: 100%;
}