@include oFormsBaseFeatures($class: 'consent-form');
@include oFormsRadioCheckboxFeatures($class: 'consent-form');
@include oFormsRadioButtonsStyledFeature($class: 'consent-form');
@include oFormsInlineFeature($class: 'consent-form');

$two-thirds-width: percentage(2 / 3);

.consent-form {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	&.hidden {
		display: none;
	}
}

.consent-form__group {
	margin-left: auto;
}

.consent-form--scrollable {
	overflow-y: auto;
}

.consent-form__section {
	margin-bottom: oTypographySpacingSize(8);
	&:last-child {
		margin-bottom: 0;
	}
}

.consent-form__section-label {
	margin-top: oTypographySpacingSize(2);
}
.consent-form__intro-text {
	@include oTypographySans(2);
	margin-bottom: oTypographySpacingSize(6)
}

.consent-form__switches-group {
	padding-top: oTypographySpacingSize(3);
	margin-top: oTypographySpacingSize(2);
	&--bordered {
		border-top: 1px solid oColorsGetPaletteColor($name: 'black-30');
		margin-top: oTypographySpacingSize(1);
	}
}

.consent-form-content {
	background-color: oColorsGetPaletteColor($name: 'paper');
}

.consent-form__consent-info {
	margin-top: oTypographySpacingSize(8);
	background-color: oColorsGetPaletteColor($name: 'wheat');
	padding-left: oTypographySpacingSize(5);
	padding-right: oTypographySpacingSize(5);
	padding-top: oTypographySpacingSize(3);
	padding-bottom: oTypographySpacingSize(3);
}

.consent-form__consent-info-para {
	margin-bottom: oTypographySpacingSize(3);
	&:last-of-type {
		margin-bottom: 0;
	}
}

.consent-form--inline {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: oTypographySpacingSize(5);
	&:last-child {
		margin-bottom: 0;
	}
}

.consent-form__item-description {
	margin-bottom: oTypographySpacingSize(3);
	@include oGridRespondTo(M) {
		margin-top: oTypographySpacingSize(3);
		margin-bottom: 0;
		order: 3;
		flex-basis: $two-thirds-width;
	}
}

// push up to o-forms
.consent-form__label {
	@include oTypographySans(0);
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__label-bold {
	@include oTypographySans(2);
	font-weight: oFontsWeight(semibold);
}

.consent-form__radio-button + .consent-form__label {
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__item-advisory {
	@include oTypographySans(0);
	background-color: oColorsGetPaletteColor($name: 'wheat');
	margin-top: oTypographySpacingSize(3);
	padding: oTypographySpacingSize(3) oTypographySpacingSize(5) oTypographySpacingSize(4) oTypographySpacingSize(5);
	@include oGridRespondTo(M) {
		width: $two-thirds-width;
	}
}
