@include oFormsBaseFeatures($class: 'consent-form');
@include oFormsRadioCheckboxFeatures($class: 'consent-form');
@include oFormsRadioButtonsStyledFeature($class: 'consent-form');

.consent-form.hidden {
	display: none;
}

.consent-form {
	@include oTypographySans($scale: 0);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	max-width: none;
}

.consent-form--scrollable {
	overflow-y: auto;
}

.consent-form__section {
	margin-bottom: oTypographySpacingSize(7);
}

.consent-form__switches-group {
	margin-top: oTypographySpacingSize(5);
}

.consent-form-content {
	background-color: oColorsGetPaletteColor($name: 'paper');
}

.consent-form__consent-info {
	margin-top: oTypographySpacingSize(8);
	background-color: oColorsGetPaletteColor($name: 'wheat');
	padding-left: oTypographySpacingSize(5);
	padding-right: oTypographySpacingSize(5);
	padding-top: 13px;
	padding-bottom: 15px;
}

.consent-form--inline {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: oTypographySpacingSize(5);
	&:last-child {
		margin-bottom: 0;
	}
	.consent-form__inline-wrapper {
		align-items: center;
		justify-content: space-between;
		display: flex;
		.consent-form__group {
			margin-bottom: 0;
		}
		.consent-form__group input + .consent-form__label {
			margin: 0;
		}
	}
}

// push up to o-forms
.consent-form__label {
	@include oTypographySans(0);
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__radio-button+.consent-form__label {
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__item-description,
.consent-form__item-advisory{
	margin-top: oTypographySpacingSize(3);
	@include oGridRespondTo(M) {
		margin-right: 170px;
	}
}

.consent-form__item-advisory{
	font-weight: 600;
}
