@include oForms($opts: (
	'elements': ('radio-box'),
	'features': ('inline', 'state')
));

$two-thirds-width: percentage(2 / 3);

.consent-form__intro-text {
	@include oTypographySans(2);
	color: oColorsByName('black-80');
	margin-bottom: oSpacingByName('s6');
}

.consent-form {
	@include oTypographySans;
	color: oColorsByName('black-80');
	max-width: none;
	margin: 0 0 20px;
	padding-left: 0;
	padding-right: 0;

	&.hidden {
		display: none;
	}

	.consent-form__section {
		margin-bottom: oSpacingByName('s4');
	}

	.consent-form__limit-width {
		@include oGridRespondTo(M) {
			width: 80%;
		}
	}

	.consent-form__section-label {
		margin-top: oSpacingByName('s2');
	}

	.consent-form__switches-group {
		padding-top: oSpacingByName('s3');
		margin-top: oSpacingByName('s2');
		&--bordered {
			border-top: 1px solid oColorsByName('black-30');
			margin-top: oSpacingByName('s1');
		}
	}

	.consent-form__fieldset {
		@include oTypographySans;
		margin: 0 0 28px;
		padding: 0;
		border: none;
	}

	.o-forms-field--inline {
		margin-bottom: 10px;

		@include oGridRespondTo(S) {
			.o-forms-input {
				align-items: flex-end;
			}
		}
	}

	.o-forms-title__main {
		font-weight: 400;
	}
}

.consent-form-content {
	background-color: oColorsByName('paper');
}
