@include oFormsBaseFeatures($class: 'consent-form');
@include oFormsRadioCheckboxFeatures($class: 'consent-form');
@include oFormsRadioButtonsStyledFeature($class: 'consent-form');

$five-sixths-width: percentage(5 / 6);

.consent-form.hidden {
	display: none;
}

.consent-form {
	@include oTypographySans($scale: 0);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	max-width: none;
}

.consent-form--scrollable {
	overflow-y: auto;
}

.consent-form__section {
	margin-bottom: oTypographySpacingSize(8);
}

.consent-form__intro-text {
	margin-bottom: oTypographySpacingSize(6)
}

.consent-form__switches-group {
	padding-top: oTypographySpacingSize(3);
	margin-top: oTypographySpacingSize(2);
	&--bordered {
		border-top: 1px solid oColorsGetPaletteColor($name: 'black-30');
		margin-top: oTypographySpacingSize(1);
	}
}

.consent-form-content {
	background-color: oColorsGetPaletteColor($name: 'paper');
}

.consent-form__consent-info {
	margin-top: oTypographySpacingSize(8);
	background-color: oColorsGetPaletteColor($name: 'wheat');
	padding-left: oTypographySpacingSize(5);
	padding-right: oTypographySpacingSize(5);
	padding-top: 13px;
	padding-bottom: 15px;
}

.consent-form--inline {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: oTypographySpacingSize(5);
	&:last-child {
		margin-bottom: 0;
	}
}

.consent-form__inline-wrapper {
	@include oGridRespondTo(M) {
		align-items: center;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
	}
	.consent-form__group {
		margin-bottom: 0;
	}
	.consent-form__group input + .consent-form__label {
		margin: 0;
	}
}

.consent-form__item-description {
	margin-bottom: oTypographySpacingSize(3);
	@include oGridRespondTo(M) {
		margin-top: oTypographySpacingSize(3);
		margin-bottom: 0;
		order: 3;
		flex-basis: $five-sixths-width;
	}
}

// push up to o-forms
.consent-form__label {
	@include oTypographySans(0);
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__label-bold {
	@include oTypographySans(2);
	font-weight: 600;
}

.consent-form__radio-button+.consent-form__label {
	padding-top: 3px;
	padding-bottom: 5px;
}

.consent-form__item-advisory{
	font-weight: 600;
	margin-top: oTypographySpacingSize(3);
	@include oGridRespondTo(M) {
		width: $five-sixths-width;
	}
}
