.flex-row {
	display: flex;
}

.flex-row--align-baseline {
	align-items: baseline;
}

.flex-row--justify-between {
	justify-content: space-between;
	// required for IE11
	.flex-row__cell-grow {
		flex-grow: 1;
	}
}

.flex-row--justify-end {
	justify-content: flex-end;
}

.flex-row__cell-grow {
	margin-right: oTypographySpacingSize(3);
}

.flex-row__cell--order-2 {
	order: 2;
}
