.consent-row {
	display: flex;
}

.consent-row--align-baseline {
	align-items: baseline;
}

.consent-row--justify-between {
	justify-content: space-between;
	// required for IE11
	.consent-row__cell-grow {
		flex-grow: 1;
	}
}

.consent-row__cell-grow {
	margin-right: oTypographySpacingSize(3);
}