.overlay-scroll-block {
	height: 100%;
	overflow: hidden;
}

.o-overlay {
	z-index: 999999;
}

.o-overlay-shadow {
	background-color: rgba(0,0,0,0.6);
	z-index: 99999;
}

.o-overlay__content {
	padding: 0;
}

.o-overlay__close {
	border: 0 none;
}

.consent-form-content {
	position: relative;
}

.consent-form-content__inner {
	padding: 45px;
}