
.no-wrap {
	white-space: nowrap;
}

.margin-right-x4 {
	margin-right: oTypographySpacingSize(4);
}

.margin-top-none {
	margin-top: 0;
}

.margin-bottom-none {
	margin-bottom: 0;
}

.margin-top-x1 {
	margin-top: oTypographySpacingSize(1);
}

.margin-top-x2 {
	margin-top: oTypographySpacingSize(2);
}

.margin-top-x4 {
	margin-top: oTypographySpacingSize(4);
}

.margin-top-x6 {
	margin-top: oTypographySpacingSize(6);
}

.margin-bottom-x1 {
	margin-bottom: oTypographySpacingSize(1);
}

.margin-bottom-x4 {
	margin-bottom: oTypographySpacingSize(4);
}

.margin-bottom-x5 {
	margin-bottom: oTypographySpacingSize(5);
}

.margin-bottom-x6 {
	margin-bottom: oTypographySpacingSize(6);
}

.margin-bottom-x7 {
	margin-bottom: oTypographySpacingSize(7);
}

.margin-bottom-x8 {
	margin-bottom: oTypographySpacingSize(8);
}

.margin-bottom-x9 {
	margin-bottom: oTypographySpacingSize(9);
}

.margin-bottom-x10 {
	margin-bottom: oTypographySpacingSize(10);
}

.padding-bottom-x2 {
	padding-bottom: oTypographySpacingSize(2);
}

.padding-bottom-x7 {
	padding-bottom: oTypographySpacingSize(7);
}

.padding-top-x9 {
	padding-top: oTypographySpacingSize(9);
}

.padding-bottom-x15 {
	padding-bottom: oTypographySpacingSize(15);
}
