.subheading {
	@include oTeaserCollectionHeadingBorderTypography;
	padding-top: oTypographySpacingSize(4);
}

.subheading--level-2,
.subheading--level-3 {
	padding-top: oTypographySpacingSize(2);
}

.subheading__title {
	@include oTypographyProductHeadingLevel5;
	@include oTypographyBold(sans);
	margin-top: 0;
	margin-bottom: 0;
	.subheading--level-2 & {
		@include oTypographyProductHeadingLevel6;
		@include oTypographyBold(sans);
		margin-top: 0;
		margin-bottom: 0;
	}
	.subheading--level-3 & {
		@include oTypographyProductHeadingLevel7;
		@include oTypographyBold(sans);
		margin-top: 0;
		margin-bottom: 0;
	}
}

.subheading__link {
	@include oTypographyLinkExternal;
	@include oTypographySans(0);
}

.subheading--level-2:before,
.subheading--level-2:after,
.subheading--level-3:before,
.subheading--level-3:after{
	border-top-width: 1px;
}
