.subheading {
	@include oTypographySans(3, $weight: 'regular');
	position: relative;
	margin: 0;
	padding-top: oSpacingByName('s3');
	padding-bottom: oSpacingByName('s4');

	&:before,
	&:after {
		border-top: 1px solid rgba(oColorsByName('black'), 0.05);
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}

	&:after {
		border-top-color: oColorsByName('black');

		@include oGridRespondTo(L) {
			width: 32.5%;
		}
	}
	padding-top: oSpacingByName('s1');
}

.subheading--level-2,
.subheading--level-3 {
	padding-top: 8px;
}

.subheading__title {
	@include oTypographyHeading($level: 5);
	@include oTypographySans($weight: 'semibold');
	margin-top: 0;
	margin-bottom: 0;
	.subheading--level-2 & {
		@include oTypographyHeading($level: 6);
		@include oTypographySans($weight: 'semibold');
		margin-top: 0;
		margin-bottom: 0;
	}
	.subheading--level-3 & {
		@include oTypographyHeading($level: 6);
		@include oTypographySans($weight: 'semibold');
		margin-top: 0;
		margin-bottom: 0;
	}
}

.subheading__link {
	@include oTypographyLink($external: true);
	@include oTypographySans($scale: 0);
}

.subheading--level-2:before,
.subheading--level-2:after,
.subheading--level-3:before,
.subheading--level-3:after{
	border-top-width: 1px;
}
