.subheading {
	@include oTypographySans(3, $weight: 'regular');
	position: relative;
	margin: 0;
	padding-top: oSpacingByName('s3');
	padding-bottom: oSpacingByName('s4');

	&:after {
		border-top: 8px solid oColorsByName('black');
		content: '';
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}

.subheading--level-2,
.subheading--level-3 {
	padding-top: oSpacingByIncrement(2);
	&:after {
		border-top-width: 1px;
	}
}

.subheading__title {
	@include oTypographyHeading($level: 3);
	margin-top: 0;
	margin-bottom: 0;
	.subheading--level-2 & {
		@include oTypographyHeading($level: 4);
		margin-top: 0;
		margin-bottom: 0;
	}
	.subheading--level-3 & {
		@include oTypographyHeading($level: 4);
		margin-top: 0;
		margin-bottom: 0;
	}
}

.subheading__link {
	@include oTypographyLink($external: true);
	@include oTypographySans($scale: 0);
	margin-left: oSpacingByName('s2');
}
