.consent-form__heading-level-1 {
	@include oTypographyProductHeadingLevel3;
	margin-bottom: oTypographySpacingSize(1);
}

.consent-form__heading-strapline {
	display: block;
	font-weight: 400;
}

.consent-form__heading-level-3 {
	@include oTypographyProductHeadingLevel7;
	@include oTypographyBold(sans);
	margin-top: 0;
	margin-bottom: 0;
}

.heading-level-3-bordered {
	@include oTypographyProductHeadingLevel7;
	padding-top: oTypographySpacingSize(4);
	border-top: 1px solid oColorsGetPaletteColor('black-30');
	margin-bottom: oTypographySpacingSize(1);
}
