.heading-bar {
	@include oTeaserCollectionHeadingBorderTypography;
	padding-top: oTypographySpacingSize(4);
}

.consent-form__heading-level-1 {
	@include oTypographyProductHeadingLevel3;
	margin-bottom: oTypographySpacingSize(1);
}

.consent-form__heading-strapline {
	display: block;
	font-weight: 400;
}

.consent-form__heading-level-2 {
	@include oTypographyProductHeadingLevel5;
	@include oTypographyBold(sans);
	margin-top: 0;
	margin-bottom: 0;
}

.consent-form__heading-level-3 {
	@include oTypographyProductHeadingLevel7;
	@include oTypographyBold(sans);
	margin-top: 0;
	margin-bottom: 0;
}

.consent-form-link-external {
	@include oTypographyLink;
	@include oTypographySans(0);
	margin-right: oTypographySpacingSize(6);
	position: relative;
	&::after {
		@include oIconsGetIcon('series', oColorsGetPaletteColor('teal'), 24);
		content: '';
		display: block;
		position: absolute;
		right: oTypographySpacingSize(6) * -1;
		top: 50%;
		transform: translateY(-50%);
	}
}
