.consent-form__heading-level-1 {
	@include oTypographyProductHeadingLevel3;
	margin-bottom: oTypographySpacingSize(4);
}

.consent-form__heading-level-2 {
	@include oTypographyProductHeadingLevel6;
	margin-top: oTypographySpacingSize(5);
	margin-bottom: oTypographySpacingSize(3);
}

.consent-form-link-external {
	padding-right: oTypographySpacingSize(6);
	position: relative;
	&::after {
		@include oIconsGetIcon('series', oColorsGetPaletteColor('teal'), 24);
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
