.consent-form__heading-level-1 {
	@include oTypographyHeading($level: 2);
	margin-bottom: 0;
}

.consent-form__heading-strapline {
	display: block;
	font-weight: 400;
}

.consent-form__heading-level-3 {
	@include oTypographyHeading($level: 4);
	@include oTypographySans($weight: 'semibold');
	margin-top: 0;
	margin-bottom: 0;
}

.consent-form__heading-level-4 {
	@include oTypographySans($scale: 0);
	margin-top: 0;
	margin-bottom: 0;
}

.heading-level-3-bordered {
	@include oTypographyHeading($level: 6);
	padding-top: oSpacingByName('s4');
	border-top: 1px solid oColorsByName('black-30');
	margin-bottom: 4px;
}

.consent-form__link--external {
	@include oTypographyLink($external: true);
}

.text--scale-2 {
	@include oTypographySans(2);
}

.heading--sm {
	@include oTypographySans($scale: 0);
	margin: 0;
}

.heading--xl {
	@include oTypographySans(5);
}
