$system-code: n-profile-ui !default;

@import 'n-ui-foundations/main';
@import '../../main.scss';

html {
	background-color: oColorsByName('paper');
}

.demo-header {
	@include oTypographySans($scale: 2);
	border-bottom: 5px solid oColorsByName('slate');
	color: oColorsByName('slate');
	margin-bottom: 2em;
}

.demo-wrapper {
	margin-bottom: 2em;
}

.demo-consent__output-console {
	margin: 1em 0 0 2em;
	padding: 1em;
	@include oTypographySans($scale: 0);
	background-color: oColorsByName('slate');
	color: oColorsByName('white');

	h2 {
		@include oTypographySans($scale: 1);
		margin-top: 0;
	}

	button {
		position: absolute;
		top: 3em;
		right: 1em;
	}
}

.demo-consent__output-results {
	p {
		margin-bottom: 0;
	}

	pre {
		font-size: 0.8em;
		margin-top: 0;
		overflow-x: scroll;
		background-color: oColorsByName('sky');
		color: oColorsByName('black');
	}
}

@media only screen and (max-width: 740px) {
	.demo-consent__output-console {
		margin-left: 0;
	}
}
